/* Options */
:root {
    --black: #000000;
    --size: 200px;
    --white: #f4eed7;
    --feature: #4b9aaa;
  }
  
  html,
  body {
    height: 100%;
  }
  
  body {
    background: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    color: white;
  }
  
  p {
    color: var(--white);
    font-size: 0.8em;
    opacity: 0.75;
  }
  
  .clock {
    height: var(--size);
    width: var(--size);
    border-radius: calc(var(--size) / 2);
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .clock__second,
  .clock__minute,
  .clock__hour,
  .clock__indicator {
    position: absolute;
    left: calc(50% - 1px);
    width: 2px;
    background: var(--white);
    transform-origin: bottom center;
    z-index: 2;
    border-radius: 1px;
  }
  
  .clock__second {
    height: calc(var(--size) / 2 - 10px);
    margin-top: 10px;
    background: var(--feature);
    animation: time 60s infinite steps(60);
    z-index: 3;
  }
  
  .clock__minute {
    height: calc(var(--size) / 2 - 20px);
    margin-top: 20px;
    opacity: 0.75;
    animation: time 3600s linear infinite;
  }
  
  .clock__hour {
    height: calc(var(--size) / 2 - 40px);
    margin-top: 40px;
    animation: time 43200s linear infinite;
  }
  
  .clock__indicator {
    height: calc(var(--size) / 2 - 2px);
    border-top: 2px solid var(--feature);
    background: none;
  }
  
  .clock__indicator:nth-of-type(5n) {
    opacity: 1;
    height: calc(var(--size) / 2 - 7px);
    border-top: 7px solid var(--white);
  }
  
  .clock__axis {
    background: var(--feature);
    width: 5px;
    height: 5px;
    border-radius: 3px;
    position: absolute;
    z-index: 4;
    top: calc(var(--size) / 2 - 3px);
  }
  
  @for $i from 1 through 60 {
    section:nth-of-type(#{$i}) {
      transform: rotateZ(calc(6deg * #{$i}));
    }
  }
  
  @keyframes time {
    to {
      transform: rotateZ(360deg);
    }
  }
  